Source: genin
Section: database
Priority: optional
Maintainer: Dmitry Kibirev <kdy@picodata.io>
Build-Depends: cdbs (>= 0.4.100), debhelper (>= 9), dpkg-dev (>= 1.16.1~)

Package: genin
Section: database
Homepage: https://picodata.io/
Architecture: amd64
Maintainer: Dmitry Kibirev <kdy@picodata.io>
Description: Genin is an inventory generator for Tarantool Ansible Cartridge
